<script>

  var data = [4, 8, 15, 16, 23, 42];

  var width = 500;
  var barHeight = 30;

  var x = d3.scale.linear()
    .domain([0, d3.max(data)])
    .range([0, width])

  var bar = d3.select('#bar-chart-scaled')
    .selectAll('rect')
    .data(data)
    .enter()
    .append('g')
      .attr('transform', function (d, i) {
        return 'translate(0,' + i * barHeight + ')';
      })

  bar.append('rect')
    .attr('height', barHeight - 1)
    .attr('width', x)

  bar.append('text')
    .text(function (d) {
      return d;
    })
    .style('color', 'white')
    .attr('x', function (d) {
      return x(d) - 3;
    })
    .attr('y', function () {
      return barHeight / 2;
    })
    .attr('dy', '.35em')

</script>

<svg class="std-svg" id="bar-chart-scaled">
</svg>
