    <nvd3-pie-chart
      data="exampleData"
        id="exampleId"
        width="300"
        height="300"
        x="xFunction()"
        y="yFunction()"
        showLabels="true"
        labelType="percent"
        pieLabelsOutside="true"
        donut="true">
        <svg height="300"></svg>
    </nvd3-pie-chart>
<div class="entity-health-ammo" ng-repeat="entity in healthAndAmmo.entities">
  <div class="health-container">
  </div>
  <div class="entity-info">
    <h1 class="entity-name">{{ entity.name }}</h1>
  </div>
  <div class="ammo-container">
    <svg height="230" width="230">
    </svg>
  </div>
</div>
