<div class="header">
  <h3 class="text-muted">MAK Menu Components</h3>
</div>

<scatter-plot></scatter-plot>

<bar-chart></bar-chart>

<bar-graph-deux></bar-graph-deux>

<some-data-examples></some-data-examples>

<div class="svg-examples">
  <svg-examples></svg-examples>
</div>

<div class="jumbotron">
  <pie-menu pie-data="data"></pie-menu>
</div>

<div class="jumbotron">
  <pie-menu-two pie-data="data"></pie-menu-two>
</div>

<div class="jumbotron">
  <pie-menu1 pie-data="data"></pie-menu1>
</div>

<div class="row marketing">
  <h4>Notes</h4>
  <p>"The unexamined life is not worth living"</p>
</div>
