<div class="header">
  <h3 class="text-muted">Angular UI Components</h3>
</div>

<div class="jumbotron">
  <ng-include src="'views/ng-nvd3-multi-bar-chart'"></ng-include>
</div>
<div class="jumbotron">
  <p><a ng-click="navigate('radial-menu')">radial menu</a></p>
  <p><a ng-click="navigate('axes')">Axes</a></p>
  <p><a ng-click="navigate('scaled-bar-chart')">scaled bar chart</a></p>
  <p><a ng-click="navigate('health-and-ammo')">health and ammo</a></p>
  <p><a ng-click="navigate('d3/d3-animations')">Animating a square</a></p>
  <p><a ng-click="navigate('d3/shrinking-circles')">Expanding/Shrinking Circles</a></p>
  <p><a ng-click="navigate('d3/ng-d3-circles')">Draw Circles with D3 and Angular</a></p>
  <p><a ng-click="navigate('pure-d3')">Simple selection and data-binding</a></p>
  <p><a ng-click="navigate('pure-d3-bar-chart')">Simple Bar Chart</a></p>
  <p><a ng-click="navigate('d3/bar-chart-scaled')">Horizonal Bar Chart Scaled</a></p>
  <p><a ng-click="navigate('pure-circle-buttons')">Simple D3 Circles</a></p>
  <p><a ng-click="navigate('d3/circles')">More Simple D3 Circles</a></p>
</div>

<div class="row marketing">
  <h4>Notes</h4>
  <p>"The unexamined life is not worth living -- Socrates"</p>
</div>
