<script>

  var max = 10;
  var min = 2;
  var data = [3, 2, 6, 2, 7, 10, 4];
  var circles;

  var svg = d3.select('#shrinking-circles')

  // Shuffles the input array.
  function shuffle(array) {
    var m = array.length, t, i;
    while (m) {
      i = Math.floor(Math.random() * m--);
      t = array[m], array[m] = array[i], array[i] = t;
    }
    return array;
  }

  var drawCircles = function () {

    circles = svg.selectAll('circle').data(data);

    circles.enter()
      .append('circle')
        .attr('cx', function (d, i) {
          return (i * 60) + 10;
        })
        .attr('cy', 250)
        .attr('r', 0)
        .classed({ 'drop-glow': true })

    circles.transition()
      .duration(1000)
        .attr('r', function (d) {
          return d * 2;
        })
        .attr('fill', function (d) {
          return randomColor();
        })

    circles.exit()
      .transition()
        .attr('r', 0)
      .remove()

    window.setTimeout(function () {

      shuffle(data);

      drawCircles();
    }, 1000);
  };

  drawCircles();

</script>

<svg id="shrinking-circles" style="background-color: black" class="">
    <defs>
        <filter id="dropGlow" width="1.5" height="1.5" x="-.25" y="-.25">
            <feGaussianBlur id="feGaussianBlur5384" in="SourceAlpha" stdDeviation="15.000000" result="blur"/>
            <feColorMatrix id="feColorMatrix5386" result="bluralpha" type="matrix" values="-1 0 0 0 1 0 -1 0 0 1 0 0 -1 0 1 0 0 0 0.800000 0 "/>
            <feOffset id="feOffset5388" in="bluralpha" dx="0.000000" dy="0.000000" result="offsetBlur"/>
            <feMerge id="feMerge5390">
                <feMergeNode id="feMergeNode5392" in="offsetBlur"/>
                <feMergeNode id="feMergeNode5394" in="SourceGraphic"/>
            </feMerge>
        </filter>
    </defs>
</svg>
