<div class="jumbotron">
  <h1>SVG Examples</h1>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>

  <svg width="500" height="500">
    <circle cx="250" cy="250" r="200" fill="yellow" stroke="orange" stroke-width="1" />
    <rect x="200" y="200" width="300" height="50" />
    <ellipse cx="200" cy="200" rx="50" ry="100" fill="orange" />
    <line x1="0" y1="500" x2="500" y2="0" stroke="black" />
    <text x="200" y="100">Some SVG Text</text>
  </svg>

  <p>bottom of svg-examples</p>

</div>
