<div class="row">
  <div class="col-md-12">
    <canvas canvas-hemi width="300px;" height="300px;" style="background-color: lightgray;" state="{{ testVar }}"></canvas>
  </div>
  <div class="col-md-8">
    <canvas width="300px;" height="300px;" style="background-color: lightgray;"></canvas>
  </div>
  <div class="col-md-4">
    <canvas width="300px;" height="300px;" style="background-color: lightgray;"></canvas>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <canvas width="300px;" height="300px;" style="background-color: lightgray;"></canvas>
  </div>
  <div class="col-md-4">
    <canvas width="300px;" height="300px;" style="background-color: lightgray;"></canvas>
  </div>
  <div class="col-md-4">
    <canvas width="300px;" height="300px;" style="background-color: lightgray;"></canvas>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <canvas width="300px;" height="300px;" style="background-color: lightgray;"></canvas>
  </div>
  <div class="col-md-6">
    <canvas width="300px;" height="300px;" style="background-color: lightgray;"></canvas>
  </div>
</div>
